.padding_main {
    background-color: blue;
    padding: 25px;
    margin: 20px;
}

.padding_second {
    background-color: cyan;
    padding: 50px 50px;
    margin: 7px 600px;
    text-align: center;
    width: 500px;
    height: 25px
}