body {
    background-color: #922a;
    margin: 0;
    padding: 25px;
}

.contain_form {
    width: 90%;
    padding: 20px;
    background-color: #b155;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #3336;
}

input, textarea, select{
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-top: 4px solid #333;
    border-left: 4px solid #333;
    font-family: Monospace;
    font-size: 1em;
    box-sizing: border-box;
    background-color: #eeed;
}

.field_select {
    border: none;
}

option {
    background-color: #b152;
}

textarea {
    min-width: 100%;
    resize: none;
}

.subtitle_form {
    color: #000f;
    margin: 10px;
    padding: 20px;
    font-size: 2em;
    font-family: Monospace;
    text-shadow: 2px 2px 5px #222;
    text-align: center;     
}

label, legend {
    color: #000f;
    font-size: 1.1em;
    text-shadow: 0 0 5px #222;
    letter-spacing: 2px;
    padding: 5px;
}

fieldset {
    border: 2px solid #b15f;
    border-radius: 10px;
    margin: 20px 0;
    padding: 0 20px;
}

legend {
    font-size: 1.3em;
    margin: 10px;
    padding: 0 20px;
}
