p {
    color: gray;
    font-family: "Space Grotesk";
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
    text-align: justify;
    text-align: center;    
    line-height: 2;
    letter-spacing: 5px;
    text-transform: capitalize;
}
h1 {
    font-family: 'Space Grotesk';
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

span {
    text-decoration: underline;
    color: cyan;
}